In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import  numpy as np
import seaborn as sns

In [13]:
train_df=pd.read_excel(r"C:\Users\ASUS\Downloads\Test_set.xlsx")

In [14]:
train_df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [15]:
test_df=pd.read_excel('C:\\Users\ASUS\\Downloads\\Test_set.xlsx')

In [16]:
test_df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [17]:
df=train_df.append(test_df)
df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_708\157117030.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=train_df.append(test_df)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5342 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          5342 non-null   object
 1   Date_of_Journey  5342 non-null   object
 2   Source           5342 non-null   object
 3   Destination      5342 non-null   object
 4   Route            5342 non-null   object
 5   Dep_Time         5342 non-null   object
 6   Arrival_Time     5342 non-null   object
 7   Duration         5342 non-null   object
 8   Total_Stops      5342 non-null   object
 9   Additional_Info  5342 non-null   object
dtypes: object(10)
memory usage: 459.1+ KB

In [19]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [20]:
df["Date"]=df["Date_of_Journey"].str.split('/').str[0]
df["month"]=df["Date_of_Journey"].str.split('/').str[1]
df["year"]=df["Date_of_Journey"].str.split('/').str[2]

In [21]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,month,year
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,06,2019
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,05,2019
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,05,2019
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,05,2019
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,24,06,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,6,06,2019
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,27,03,2019
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,6,03,2019
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,6,03,2019
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,15,06,2019

In [22]:
df["Date"]=df["Date"].astype(int)
df["month"]=df["month"].astype(int)
df["year"]=df["year"].astype(int)

In [23]:
df.drop('Date_of_Journey',axis=1,inplace=True)

In [24]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,month,year
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6,2019
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5,2019
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,5,2019
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,5,2019
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,24,6,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,6,6,2019
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,27,3,2019
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,6,3,2019
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,6,3,2019
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,15,6,2019

In [25]:
df["Arrival_Time"]=df["Arrival_Time"].str.split(' ').str[0]

In [26]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,month,year
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25,10h 55m,1 stop,No info,6,6,2019
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5,2019
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00,23h 45m,1 stop,In-flight meal not included,21,5,2019
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,5,2019
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45,2h 50m,non-stop,No info,24,6,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25,23h 55m,1 stop,No info,6,6,2019
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,27,3,2019
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25,6h 35m,1 stop,No info,6,3,2019
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,6,3,2019
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,15,6,2019

In [16]:
df["Arrival_Time"]=df["Arrival_Time"].apply(lambda x: x.split(' ')[0])

In [17]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,month,year
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25,10h 55m,1 stop,No info,6,6,2019
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5,2019
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00,23h 45m,1 stop,In-flight meal not included,21,5,2019
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,5,2019
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45,2h 50m,non-stop,No info,24,6,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25,23h 55m,1 stop,No info,6,6,2019
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,27,3,2019
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25,6h 35m,1 stop,No info,6,3,2019
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,6,3,2019
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,15,6,2019

In [18]:
df.isnull().sum()

Airline            0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Date               0
month              0
year               0
dtype: int64

In [19]:
df["Arrival_hour"]=df["Arrival_Time"].apply(lambda x:x.split(':')[0])
df["Arrival_min"]=df["Arrival_Time"].apply(lambda x: x.split(':')[1])

In [20]:
df["Arrival_hour"]=df["Arrival_hour"].astype(int)
df["Arrival_min"]=df["Arrival_min"].astype(int)

In [21]:
df.drop('Arrival_Time',axis=1,inplace=True)

In [22]:
df

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Date,month,year,Arrival_hour,Arrival_min
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,10h 55m,1 stop,No info,6,6,2019,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,4h,1 stop,No info,12,5,2019,10,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,23h 45m,1 stop,In-flight meal not included,21,5,2019,19,0
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,13h,1 stop,No info,21,5,2019,21,0
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,2h 50m,non-stop,No info,24,6,2019,2,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,23h 55m,1 stop,No info,6,6,2019,20,25
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,2h 35m,non-stop,No info,27,3,2019,16,55
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,6h 35m,1 stop,No info,6,3,2019,4,25
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,15h 15m,1 stop,No info,6,3,2019,19,15
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,14h 20m,1 stop,No info,15,6,2019,19,15

In [23]:
df["Dep_hour"]=df["Dep_Time"].str.split(':').str[0]
df["Dep_min"]=df["Dep_Time"].str.split(':').str[0]

In [24]:
df.drop('Dep_Time',axis=1,inplace=True)

In [25]:
df["Dep_hour"]=df["Dep_hour"].astype(int)
df["Dep_min"]=df["Dep_min"].astype(int)

In [26]:
df["Total_Stops"].unique()

array(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'],
      dtype=object)

In [27]:
df['Total_Stops']=df["Total_Stops"].map({"non-stop":0,"1 stop":1,"2 stop":2,"3 stop":3,"4 stop":4,"NaN":1})

In [28]:
df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Date,month,year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1.0,No info,6,6,2019,4,25,17,17
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1.0,No info,12,5,2019,10,20,6,6
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,23h 45m,1.0,In-flight meal not included,21,5,2019,19,0,19,19
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,13h,1.0,No info,21,5,2019,21,0,8,8
4,Air Asia,Banglore,Delhi,BLR → DEL,2h 50m,0.0,No info,24,6,2019,2,45,23,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1.0,No info,6,6,2019,20,25,20,20
2667,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0.0,No info,27,3,2019,16,55,14,14
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1.0,No info,6,3,2019,4,25,21,21
2669,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1.0,No info,6,3,2019,19,15,4,4
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1.0,No info,15,6,2019,19,15,4,4

In [29]:
df.drop("Route",axis=1,inplace=True)

In [30]:
df

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Date,month,year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,Jet Airways,Delhi,Cochin,10h 55m,1.0,No info,6,6,2019,4,25,17,17
1,IndiGo,Kolkata,Banglore,4h,1.0,No info,12,5,2019,10,20,6,6
2,Jet Airways,Delhi,Cochin,23h 45m,1.0,In-flight meal not included,21,5,2019,19,0,19,19
3,Multiple carriers,Delhi,Cochin,13h,1.0,No info,21,5,2019,21,0,8,8
4,Air Asia,Banglore,Delhi,2h 50m,0.0,No info,24,6,2019,2,45,23,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1.0,No info,6,6,2019,20,25,20,20
2667,IndiGo,Kolkata,Banglore,2h 35m,0.0,No info,27,3,2019,16,55,14,14
2668,Jet Airways,Delhi,Cochin,6h 35m,1.0,No info,6,3,2019,4,25,21,21
2669,Air India,Delhi,Cochin,15h 15m,1.0,No info,6,3,2019,19,15,4,4
2670,Multiple carriers,Delhi,Cochin,14h 20m,1.0,No info,15,6,2019,19,15,4,4

In [31]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Long layover', 'Business class',
       'Change airports'], dtype=object)

In [32]:
df['Duration_hour']=df['Duration'].str.split(' ').str[0].str.split("h").str[0]

In [33]:
df.drop(2660,axis=0,inplace=True)

In [34]:
df[df['Duration_hour']=="5m"]

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Date, month, year, Arrival_hour, Arrival_min, Dep_hour, Dep_min, Duration_hour]
Index: []

In [35]:
df["Duration_hour"]=df['Duration_hour'].astype(int)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5340 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          5340 non-null   object
 1   Source           5340 non-null   object
 2   Destination      5340 non-null   object
 3   Duration         5340 non-null   object
 4   Total_Stops      4560 non-null   float64
 5   Additional_Info  5340 non-null   object
 6   Date             5340 non-null   int32
 7   month            5340 non-null   int32
 8   year             5340 non-null   int32
 9   Arrival_hour     5340 non-null   int32
 10  Arrival_min      5340 non-null   int32
 11  Dep_hour         5340 non-null   int32
 12  Dep_min          5340 non-null   int32
 13  Duration_hour    5340 non-null   int32
dtypes: float64(1), int32(8), object(5)
memory usage: 458.9+ KB

In [37]:
df.drop('Duration',axis=1,inplace=True)

In [38]:
df

,Airline,Source,Destination,Total_Stops,Additional_Info,Date,month,year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hour
0,Jet Airways,Delhi,Cochin,1.0,No info,6,6,2019,4,25,17,17,10
1,IndiGo,Kolkata,Banglore,1.0,No info,12,5,2019,10,20,6,6,4
2,Jet Airways,Delhi,Cochin,1.0,In-flight meal not included,21,5,2019,19,0,19,19,23
3,Multiple carriers,Delhi,Cochin,1.0,No info,21,5,2019,21,0,8,8,13
4,Air Asia,Banglore,Delhi,0.0,No info,24,6,2019,2,45,23,23,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,1.0,No info,6,6,2019,20,25,20,20,23
2667,IndiGo,Kolkata,Banglore,0.0,No info,27,3,2019,16,55,14,14,2
2668,Jet Airways,Delhi,Cochin,1.0,No info,6,3,2019,4,25,21,21,6
2669,Air India,Delhi,Cochin,1.0,No info,6,3,2019,19,15,4,4,15
2670,Multiple carriers,Delhi,Cochin,1.0,No info,15,6,2019,19,15,4,4,14

In [39]:
df["Duration_hour"]*60

0        600
1        240
2       1380
3        780
4        120
        ...
2666    1380
2667     120
2668     360
2669     900
2670     840
Name: Duration_hour, Length: 5340, dtype: int32

In [40]:
df['Airline'].unique()

array(['Jet Airways', 'IndiGo', 'Multiple carriers', 'Air Asia',
       'Air India', 'Vistara', 'SpiceJet', 'Vistara Premium economy',
       'GoAir', 'Multiple carriers Premium economy',
       'Jet Airways Business'], dtype=object)

In [41]:
from sklearn import preprocessing

label_encoder=preprocessing.LabelEncoder()
df["Airline"]=label_encoder.fit_transform(df['Airline'])
df["Airline"].unique()

array([ 4,  3,  6,  0,  1,  9,  8, 10,  2,  7,  5])

In [42]:
df["Source"]=label_encoder.fit_transform(df["Source"])

In [43]:
df["Destination"]=label_encoder.fit_transform(df["Destination"])

In [44]:
df["Additional_Info"]=label_encoder.fit_transform(df["Additional_Info"])

In [45]:
df

,Airline,Source,Destination,Total_Stops,Additional_Info,Date,month,year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hour
0,4,2,1,1.0,5,6,6,2019,4,25,17,17,10
1,3,3,0,1.0,5,12,5,2019,10,20,6,6,4
2,4,2,1,1.0,3,21,5,2019,19,0,19,19,23
3,6,2,1,1.0,5,21,5,2019,21,0,8,8,13
4,0,0,2,0.0,5,24,6,2019,2,45,23,23,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1,3,0,1.0,5,6,6,2019,20,25,20,20,23
2667,3,3,0,0.0,5,27,3,2019,16,55,14,14,2
2668,4,2,1,1.0,5,6,3,2019,4,25,21,21,6
2669,1,2,1,1.0,5,6,3,2019,19,15,4,4,15
2670,6,2,1,1.0,5,15,6,2019,19,15,4,4,14

In [46]:
pd.get_dummies(df,columns=["Airline","Source","Destination","Additional_Info"],drop_first=True)

,Total_Stops,Date,month,year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hour,Airline_1,...,Destination_1,Destination_2,Destination_3,Destination_4,Destination_5,Additional_Info_1,Additional_Info_2,Additional_Info_3,Additional_Info_4,Additional_Info_5
0,1.0,6,6,2019,4,25,17,17,10,0,...,1,0,0,0,0,0,0,0,0,1
1,1.0,12,5,2019,10,20,6,6,4,0,...,0,0,0,0,0,0,0,0,0,1
2,1.0,21,5,2019,19,0,19,19,23,0,...,1,0,0,0,0,0,0,1,0,0
3,1.0,21,5,2019,21,0,8,8,13,0,...,1,0,0,0,0,0,0,0,0,1
4,0.0,24,6,2019,2,45,23,23,2,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1.0,6,6,2019,20,25,20,20,23,1,...,0,0,0,0,0,0,0,0,0,1
2667,0.0,27,3,2019,16,55,14,14,2,0,...,0,0,0,0,0,0,0,0,0,1
2668,1.0,6,3,2019,4,25,21,21,6,0,...,1,0,0,0,0,0,0,0,0,1
2669,1.0,6,3,2019,19,15,4,4,15,1,...,1,0,0,0,0,0,0,0,0,1
2670,1.0,15,6,2019,19,15,4,4,14,0,...,1,0,0,0,0,0,0,0,0,1